@page
@model ClassRooms.Pages.ClassRoomsModel
@{
    ViewData ["Title"] = "ClassRoom Page";
}

<h1>ClassRooms Page</h1>

<ul>
    <li>
        <p>Name: @Model.Ant_Lamar.Name, Id: @Model.Ant_Lamar.Id</p>
    </li>
    <li>
        <p>Name: @Model.Gent.Name, Id: @Model.Gent.Id</p>
    </li>
    <li>
        <p>Name: @Model.Brussel.Name, Id: @Model.Brussel.Id</p>
    </li>
</ul>