@page
@model Students.Pages.StudentsModel
@{
    ViewData["Title"] = "Students page";
}


<h1>Students Page</h1>
<p>@Model.Message the time is @DateTime.Now</p>
<br/>

<h3>Students List: </h3>
<ul>
    <li>
        <p>Name: @Model.Pablo.Name, Id: @Model.Pablo.Id, ClassID: @Model.Pablo.ClassId</p>
    </li>
    <li>
        <p>Name: @Model.Zeno.Name, Id: @Model.Zeno.Id, ClassID: @Model.Zeno.ClassId</p>
    </li>
    <li>
        <p>Name: @Model.Michael.Name, Id: @Model.Michael.Id, ClassID: @Model.Michael.ClassId</p>
    </li>
    <li>
        <p>Name: @Model.Shiva.Name, Id: @Model.Shiva.Id, ClassID: @Model.Shiva.ClassId</p>
    </li>
    <li>
        <p>Name: @Model.Lucas.Name, Id: @Model.Lucas.Id, ClassID: @Model.Lucas.ClassId</p>
    </li>
    <li>
        <p>Name: @Model.Snehal.Name, Id: @Model.Snehal.Id, ClassID: @Model.Snehal.ClassId</p>
    </li>
    <li>
        <p>Name: @Model.Besart.Name, Id: @Model.Besart.Id, ClassID: @Model.Besart.ClassId</p>
    </li>
    <li>
        <p>Name: @Model.Mo.Name, Id: @Model.Mo.Id, ClassID: @Model.Mo.ClassId</p>
    </li>
    <li>
        <p>Name: @Model.Brian.Name, Id: @Model.Brian.Id, ClassID: @Model.Brian.ClassId</p>
    </li>
</ul>
